html {
    font-size: 14px;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

header {
    height: 90vh;
    max-width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://images.unsplash.com/photo-1515263487990-61b07816b324?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.intro {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
}

span {
    font-size: 2.5rem;
    color: lightblue;
}

.explications {
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55%;
}

.explication1,
.explication2 {
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 25px;
    padding: 1.5%;
    border-radius: 10px;
    border: 2px solid #1a1a1a;
    background-color: #1a1a1a;
    color: white;
    position: relative;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;

    &:hover {
        box-shadow: 0px 0px 5px 5px rgba(180, 224, 253, 0.2);
    }
}

.exTitre {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exIcone {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone {
    font-size: 3rem;
}

.exTexte {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        text-align: justify;
    }
}

.section-carte {
    height: 100vh;
    width: 100%;
    background-color: rgb(46, 62, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carte {
    height: 80%;
    width: 80%;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
}

.leaflet-container {
    // Obligatoire pour que la map s'affiche
    width: 100%;
    height: 100%;
}

.leaflet-popup {
    .leaflet-popup-content-wrapper {
        border-radius: 5px;
    }

    .leaflet-popup-tip-container {
        display: none;
    }

    .leaflet-popup-close-button {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 10px;
        height: 10px;
        padding: 0;
        font-size: 20px;
        line-height: 20px;
    }
}