/*---Google font---*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*---Bases---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14pt;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*---Navbar---*/
.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1a1a1a;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.navbar {
    .logo {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.navbar .liens ul {
    display: flex;
    align-items: center;
}


h1,
h2,
h3,
.navhover:hover {
    color: lightblue;
}

.navbar .liens ul li {
    margin: 0 25px;
}

.navbar .liens ul li.active a {
    color: #474243;
    font-weight: 600;
}

.navbar a {
    color: white;
}

.navbar .menu-hamburger {
    display: none;
    color: white;
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 35px;
    cursor: pointer;
}

@media screen and (max-width:900px) {
    .navbar {
        padding: 0;
    }

    .navbar .menu-hamburger {
        display: block;
    }

    .liens {
        top: 0;
        left: -100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        transition: left 0.5s ease;

    }

    .liens.mobile-menu {
        left: 0;

    }

    .liens ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .liens ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }

    .menu-hamburger {
        display: block;
    }
}

.bouton {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    color: white;

    border-radius: 10px;
    padding: .5em 1em;
    background-size: 200% auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to right, #895cf2 0%, lightblue 50%, #895cf2 100%);
    transition: 0.5s;

    &:hover {
        background-position: right center;
    }
}