footer {
    background-color: #1a1a1a;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    color: white;
    min-height: 15vh;
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.liensFooter {
    display: flex;
    flex-direction: column;
}

.lien,
.socials a {
    text-decoration: none;
    color: white;

    &:hover {
        color: lightblue;
    }
}

.footerIcon {
    font-size: 2rem;
    margin: 1px;

    &:hover {
        color: lightblue;
    }
}