@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.divForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(46, 62, 68);

    h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    form {
        display: flex;
        width: 22%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4rem;
        border-radius: 10px;
        background-color: #1a1a1a;
        color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

        div {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;

            label {
                margin-bottom: 0.5rem;
                font-weight: bold;
            }

            input {
                padding: 0.5rem;
                border-radius: 5px;
                border: 1px solid #ccc;
                width: 100%;
                left: 50%;
            }
        }

        button[type="submit"] {
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            margin-top: 1rem;
            padding: 0.5rem 1rem;
            border-radius: 10px;
            border: none;
            background-size: 200% auto;
            background-image: linear-gradient(to right, #895cf2 0%, lightblue 50%, #895cf2 100%);
            color: white;
            transition: 0.5s;

            &:hover {
                background-position: right center;
            }
        }
    }
}