h2 {
    text-align: center;
}

.divGlobale {
    height: 80vh;
    background-color: rgb(46, 62, 68);
    padding: 2%;
}

.tables-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.table-section {
    flex: 1;
    margin: 0 10px;

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        li {
            margin-right: 5px;
        }
    }

    .card {
        background-color: #1a1a1a;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        color: white;
    }
}

table {
    margin: auto;
}

button {
    padding: 4px;
    margin: 2px;
    color: white;
    background-color: rgb(50, 96, 213);
    border-radius: 5px;
    cursor: pointer;
    border: none;

    &:hover {
        background-color: rgb(74, 115, 218);
    }
}